<div id="<%= dom_id equipment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= equipment.kind %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Brand:</strong>
    <%= equipment.brand %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Model:</strong>
    <%= equipment.model %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Serial number:</strong>
    <%= equipment.serial_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Acquisition date:</strong>
    <%= equipment.acquisition_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= equipment.status %>
  </div>
</div>
